%circles {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    top: 10%;
    left: calc(50% - 50px);
}

%backgroundoptions {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 75px 75px;
}

body {
    margin: 0;
}

.section {
    background-color: rgb(16, 182, 204);
    height: 100vh;

    &__cloud {
        &_big {
            position: absolute;
            height: 100px;
            left: 0;
            top: 20%;
            animation: cloudMove;
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform: translate(-100%, 0);
        }
    
        &_small {
            position: absolute;
            height: 50px;
            left: 0;
            top: 60%;
            animation: cloudMove;
            animation-duration: 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform: translate(-100%, 0);
        }

        @keyframes cloudMove {
            100% {
                left: 100%;
                transform: translate(100%, 0);
            }
        }
    }

    &__circles {
        &_house {
            background-image: url(../img/real_estate.svg);
            @extend %backgroundoptions;
            background-size: 120px 120px;
            @extend %circles;
            width: 150px;
            height: 150px;
            left: calc(50% - 75px);
            animation: house;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            
            &_wings {
                &-left {
                    position: absolute;
                    left: -30px;
                    top: 15px;
                    animation: wingLeft;
                    animation-duration: 0.2s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
                &-right {
                    position: absolute;
                    left: 130px;
                    top: 15px;
                    animation: wingRight;
                    animation-duration: 0.2s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }

                @keyframes wingLeft {
                    0% {}
                    100% {
                        transform-origin: right bottom;
                        transform: rotate(15deg);
                    }
                }
                @keyframes wingRight {
                    0% {}
                    100% {
                        transform-origin: bottom left;
                        transform: rotate(-15deg);
                    }
                }
            }
        }
            
        &_money {
            background-image: url(../img/money.svg);
            @extend %backgroundoptions;
            @extend %circles ;
            top: 40%;
            left: 65%;  
            animation: money;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            &_wings {
                &-left {
                    position: absolute;
                    left: -40px;
                    top: 15px;
                    animation: wingLeft;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
                &-right {
                    position: absolute;
                    left: 90px;
                    top: 15px;
                    animation: wingRight;
                    animation-timing-function: linear;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }

                @keyframes wingLeft {
                    0% {}
                    100% {
                        transform-origin: right bottom;
                        transform: rotate(15deg);
                    }
                }
                @keyframes wingRight {
                    0% {}
                    100% {
                        transform-origin: bottom left;
                        transform: rotate(-15deg);
                    }
                }
            }
        }
    
        &_education {
            background-image: url(../img/education.svg);
            @extend %backgroundoptions;
            @extend %circles ;
            top: 70%;
            animation: education;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            &_wings {
                &-left {
                    position: absolute;
                    left: -40px;
                    top: 15px;
                    animation: wingLeft;
                    animation-duration: 0.5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
                &-right {
                    position: absolute;
                    left: 90px;
                    top: 15px;
                    animation: wingRight;
                    animation-timing-function: linear;
                    animation-duration: 0.5s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }

                @keyframes wingLeft {
                    0% {}
                    100% {
                        transform-origin: right bottom;
                        transform: rotate(15deg);
                    }
                }
                @keyframes wingRight {
                    0% {}
                    100% {
                        transform-origin: bottom left;
                        transform: rotate(-15deg);
                    }
                }
            }
        }

        @keyframes house {
            100% {
                top: 15%;
            }
        }

        @keyframes money {
            100% {
                top: 45%;
            }
        }

        @keyframes education {
            100% {
                top: 75%;
            }
        }
    }
}